<div class="input-group mb-3">
    <input
        #txtSearchCoctel
        id="txtSearchCoctel"
        type="text"
        class="form-control"
        placeholder="Buscar"
        aria-label="Recipient's username"
        (input)="buscarCoctel(txtSearchCoctel.value)"
        aria-describedby="button-addon2"

    >
    <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="buscarCoctel(txtSearchCoctel.value)"
        id="button-addon2"
        >
        <i class="bi bi-search"></i>
    </button>
</div>
