<div class="row mt-3 mb-3 g-3">
    <ng-container *ngIf="coctelesTodos && coctelesTodos!.drinks && coctelesTodos.drinks.length > 0" ; else noCocteles>
        <div class="col-3" *ngFor="let coctelIndividual of coctelesTodos!.drinks">
            <div class="card">
                <!-- contenido del card -->
                <img [src]="coctelIndividual.strDrinkThumb" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{coctelIndividual.strDrink}}</h5>
                    <p class="card-text"><strong>Categoria: </strong>{{coctelIndividual.strCategory}}</p>
                    <p class="card-text"><strong>Tipo de Coctel: </strong>{{coctelIndividual.strAlcoholic}}</p>
                    <p class="card-text"><strong>Tipo de vaso: </strong>{{coctelIndividual.strGlass}}</p>
                    <p class="card-text"><strong>Fecha de Modificación: </strong><br>{{coctelIndividual.dateModified}}</p>
                    <li class="btn btn-primary" (click)="openModal(coctelIndividual)">Mas Información</li>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #noCocteles>
        <div class="col-12">
            <div class="alert alert-warning" role="alert">
                No existe aquel Coctel
            </div>
        </div>
    </ng-template>
</div>



<coctel-modal/>