<div class="input-group mb-3">
    <input
        #txtSearch
        type="text"
        class="form-control"
        placeholder="Escriba el ID del personaje"
        aria-label="Escriba el ID del personaje"
        (input)="searchCaractherGFNC(txtSearch.value)"
        aria-describedby="button-addon2"

    >
    <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="searchCaractherGFNC(txtSearch.value)"
        id="button-addon2"

    >
        <i class="bi bi-search"></i>
    </button>
</div>

