<!-- paginacion 1-->
<div class="row mt-3 ">
  <div class="col12">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"
        [ngClass]="{'disable': !previousURL}">
          <a class="page-link"
          (click)="loadPokemons(previousURL!)"
          >Previous</a>
        </li>

        <li class="page-item"
        [ngClass]="{'disable': !nextURL}">
          <a class="page-link"
          (click)="loadPokemons(nextURL!)"
          >Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
