<!-- Primer Modal (Detalles) -->
<div class="modal fade" #modalElement id="modalElement" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Detalles</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Datos del personaje -->
                <p><strong>ID:</strong> {{ dbz.id }}</p>
                <p><strong>Nombre:</strong> {{ dbz.name }}</p>
                <p><strong>Raza:</strong> {{ dbz.race }}</p>
                <p><strong>Genero:</strong> {{ dbz.gender }}</p>
                <p><strong>Ki Base:</strong> {{ dbz.ki }}</p>
                <p><strong>Ki Maximo:</strong> {{ dbz.maxKi }}</p>
                <p><strong>Afiliación:</strong> {{ dbz.affiliation }}</p>
                <p><strong>Descripción:</strong> {{ dbz.description }}</p>

                <p><strong>Planeta de origen:</strong> {{ dbz.originPlanet?.image || ''}}</p>
                <p><strong>Nombre:</strong> {{ dbz.originPlanet?.name }}</p>
                <p><strong>Descripción:</strong> {{ dbz.originPlanet?.description }}</p>

            </div>
            <div class="modal-footer">
                <!-- Botón para abrir el modal de transformaciones -->
                <button class="btn btn-primary" data-bs-target="#modalElementtwo" data-bs-toggle="modal">
                    Transformaciones
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Transformaciones -->
<div class="modal fade" #modalElementtwo id="modalElementtwo" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Transformaciones</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Verificamos si existen transformaciones -->
                <ng-container *ngIf="dbz.transformations && dbz.transformations.length > 0; else noTransformations">
                    <ul>
                        <li *ngFor="let transformation of dbz.transformations">
                            <strong>Transformación:</strong> {{ transformation?.name }}
                            <br />
                            <strong>Ki:</strong> {{ transformation?.ki }}
                            <br />
                            <img [src]="transformation?.image" alt="Imagen de la transformación" style="width: 100px; height: 100px;">
                        </li>
                    </ul>
                </ng-container>
                <!-- En caso de que no existan transformaciones -->
                <ng-template #noTransformations>
                    <p>No hay transformaciones disponibles para este personaje.</p>
                </ng-template>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#modalElement" data-bs-toggle="modal">
                    Detalles
                </button>
            </div>
        </div>
    </div>
</div>

